.cmb2-brightcove-video-metabox .brightcove-add-media-btn {
	margin: 0 auto;
	display: block;
}

.cmb2-brightcove-video-metabox .bc-button-icon {
	vertical-align: middle;
	margin: 0 5px;
}

.cmb2-brightcove-video-metabox .brightcove-video-preview {
	margin-top: 10px;
}
